<header>
    Header
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/404">Generate 404</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>