<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

<main>
    <h1>About</h1>
    <h2>Chroma Scheduler</h2>
    <h3>Technologies Used</h3>
    <h2>Derek Dunwiddie</h2>
</main>

<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>